<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="Add"
      icon="pi pi-plus"
      class="p-button-success mr-2"
      routerLink="/punch/add"
    ></button>
    <button
      pButton
      pRipple
      label="Edit"
      icon="pi pi-pencil"
      class="p-button-secondary mr-2"
      [disabled]="selectedPunches.length != 1"
      (click)="editSelected()"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-trash"
      class="p-button-danger"
      [disabled]="selectedPunches.length == 0"
      (click)="deleteSelected()"
    ></button>
  </ng-template>

  <ng-template pTemplate="right"> </ng-template>
</p-toolbar>

<p-table
  #punchTable
  dataKey="id"
  selectionMode="multiple"
  [columns]="columns"
  [loading]="loading"
  [paginator]="true"
  [value]="punches"
  [rows]="10"
  [showLoader]="false"
  [rowsPerPageOptions]="[10, 25, 50]"
  [(selection)]="selectedPunches"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns">{{ col.header }}</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-punch
    let-rowIndex="rowIndex"
    let-columns="columns"
  >
    <tr>
      <td>
        <p-tableCheckbox [value]="punch"></p-tableCheckbox>
      </td>
      <ng-container *ngFor="let col of columns" [ngSwitch]="col.key">
        <td *ngSwitchCase="'time'">
          {{ punch[col.key] | timestamp | date : "medium" }}
        </td>
        <td *ngSwitchCase="'type'">{{ punch[col.key] | punchType }}</td>
        <td *ngSwitchDefault>{{ punch[col.key] }}</td>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody" let-columns>
    <tr *ngFor="let idx of numberArray(punchTable.rows)">
      <td><p-skeleton size="1.5rem"></p-skeleton></td>
      <td *ngFor="let col of columns">
        <p-skeleton></p-skeleton>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3">No Punches!</td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog
  header="Delete?"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
